server {
    listen 19999;
    listen [::]:19999 ipv6only=on;

    server_name _;

    location / {
        auth_basic      "You shall not pass";
        auth_basic_user_file /var/www/.htpasswd;
        proxy_pass http://netdata:19999;
    }
}

server {
    listen 8080;
    listen [::]:8080 ipv6only=on;

    server_name _;

    location / {
        auth_basic      "You shall not pass";
        auth_basic_user_file /var/www/.htpasswd;
        proxy_pass http://adminer:8080;
    }
}