DATA_PATH_HOST=~/.databases

### Percona ###############################################

PERCONA_DATABASE=homestead
PERCONA_USER=homestead
PERCONA_PASSWORD=secret
PERCONA_PORT=3306
PERCONA_ROOT_PASSWORD=root
PERCONA_ENTRYPOINT_INITDB=./percona/docker-entrypoint-initdb.d

### MariaDB ###############################################

MARIADB_DATABASE=default
MARIADB_USER=default
MARIADB_PASSWORD=secret
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d

### Adminer ###############################################

ADMINER_PORT=8080

### Grafana ###############################################

MYSQL_EXPORTER_USER=exuser
MYSQL_EXPORTER_PASSWORD=expo213

### Grafana ###############################################

GRAFANA_PORT=3000

### NetData ###############################################

NETDATA_PORT=19999