[mysqld]
#replication
#server-id = 1
#report_host = master
#log_bin = /var/lib/mysql/mariadb-bin
#log_bin_index = /var/lib/mysql/mariadb-bin.index
#relay_log = /var/lib/mysql/relay-bin
#relay_log_index = /var/lib/mysql/relay-bin.index

#log_output=file
#slow_query_log=1
#long_query_time=1
#log_queries_not_using_indexes
#log_slow_rate_limit=100
#log_slow_verbosity=Query_plan
#log_slow_admin_statements=ON
#log_slow_slave_statements=ON
#userstat=1
innodb_monitor_enable=all
performance_schema=ON